@{
    Layout = "_AdminLayout";
}
<div class="col s12 m12 l12">
    <div class="card-panel">
        <h1>Hello!</h1>
        <p>Selamat datang, ini adalah halaman admin</p>
    </div>
</div>
<div class="col s12 m4">
    <div class="card small">
        <center><i class="material-icons large">shopping_cart</i></center>
        <h3 class="center-align">Product</h3>
        <p class="center-align">
            Berisi seluruh produk beserta harga. Deskripsikan produk anda disini.
        </p>
        <div class="card-action">
            <center>
                <a asp-action="Product" class="waves-effect waves-light btn pink lighten-3">Kelola Produk</a>
            </center>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card small">
        <center><i class="material-icons large">folder</i></center>
        <h3 class="center-align">Kategori</h3>
        <p class="center-align">
            Berisi seluruh kategori produk. Silahkan kelola kategori produk disini.
        </p>
        <div class="card-action">
            <center>
                <a asp-action="Category" class="waves-effect waves-light btn pink lighten-3">Kelola Kategori</a>
            </center>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card small">
        <center><i class="material-icons large">contact_phone</i></center>
        <h3 class="center-align">Kontak</h3>
        <p class="center-align">
            Berisi berbagai macam kontak yang akan dilihat oleh calon pembeli.
        </p>
        <div class="card-action">
            <center>
                <a asp-action="Contact" class="waves-effect waves-light btn pink lighten-3">Kelola Kontak</a>
            </center>
        </div>
    </div>
</div>
