@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/admin-login-style.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div id="wrapper">
        <div id="vertical-offset" >
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card-panel white" id="card-panel">
                    <h1 class="center">Login</h1>
                    <form asp-controller="Admin" asp-action="Login" method="post">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="Username" name="username" type="text" class="validate">
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input placeholder="Password" name="password" type="password" class="validate">
                        </div>
                        <div class="input-field">
                            <input type="submit" value="Login" class="btn-large right pink lighten-3">
                        </div>
                        <div style="clear: both;"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/materialize.min.js"></script>
        <script src="~/js/admin.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script rc="~/lib/materialize/materialize.min.js"></script>
        <script src="~/js/admin.js"></script>
    </environment>

</body>