﻿<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/admin-style.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="row">
        <ul id="sidenavbar" class="sidenav sidenav-fixed with-header col l2">
            <a asp-controller="Admin" asp-action="Index"><div id="logo">
                <img class="responsive-img" src="~/images/logo.png">
            </div></a>
            <li class="collection-header" ><h4>Produk</h4></li>
            <li class="collection-item"><a class="waves-effect waves-light" asp-controller="Admin" asp-action="Product">Kelola Produk</a></li>
            <li class="collection-item"><a class="waves-effect waves-light" asp-route="AdminProduct" asp-route-action="Create">Tambah Produk</a></li>
            <li class="collection-header"><h4>Kategori</h4></li>
            <li class="collection-item"><a class="waves-effect waves-light" asp-controller="Admin" asp-action="Category">Kelola Kategori</a></li>
            <li class="collection-item"><a class="waves-effect waves-light" asp-route="AdminCategory" asp-route-action="Create">Tambah Kategori</a></li>
            <li class="collection-header"><h4>Kontak</h4></li>
            <li class="collection-item"><a class="waves-effect waves-light" asp-controller="Admin" asp-action="Contact">Kelola Kontak</a></li>
            <li class="collection-header"><h4>Admin</h4></li>
            <li class="collection-item"><a class="waves-effect waves-light" asp-controller="Admin" asp-action="Logout">Logout</a></li>
        </ul>
    <a id="navbarbutton" href="#" data-target="sidenavbar" class="sidenav-trigger show-on-medium-and-down hide-on-large-only"><i class="material-icons medium">menu</i></a>
    <div id="content-wrapper" class="col s12 m12 offset-l2 l10">
    @RenderBody()
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/materialize.min.js"></script>
        <script src="~/js/admin.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script rc="~/lib/materialize/materialize.min.js"></script>
        <script src="~/js/admin.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
