﻿<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/fonts.css" />
    <link type="text/css" rel="stylesheet" href="~/css/store-style.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div id="navbar-fixed">
        <div id="logo"><img src="~/images/logo.png" height="80px"></div>
        <form asp-controller="store" asp-action="catalog" autocomplete="off" id="search-bar" method="get">
            <div id="links" class="valign-wrapper">
                <input type="search" id="search-bar" name="keyword">
                <button class="btn waves-effect waves-light pink lighten-3" type="submit" name="action" style="margin-left: 10px;">Search
                    <i class="material-icons right">search</i>
                </button>
            </div>
        </form>
        <div style="clear: both;"></div>
    </div>
    
@RenderBody()

    <div id="footer-block">
        <div id="footer">
            <h2><span style="color: #f48fb1;">Lovina</span> Store</h2>
            <p>
                Pangalengan alamat jl rt rw toko bla bla bla
            </p>
            <p>
                Website by <a href="https://www.facebook.com/marlocoorawa" style="color: #f48fb1;">marlowololo</a>
            </p>
        </div>
    </div>

</body>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/materialize/materialize.min.js"></script>
    <script src="~/js/admin.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
</environment>
<script type="text/javascript" src="~/js/store.js"></script>

@RenderSection("Scripts", required: false)

</html>