@model lovina_store.Data.ViewModels.CatalogViewModel
@{
    Layout = "_StoreLayout";
}
    <link type="text/css" rel="stylesheet" href="~/css/catalog-style.css" />
    <div class="content-voffset"></div>
    <div class="content-voffset hide-on-med-and-up"></div>
    <div id="content-container" class="row">
        <div class="col l2 m12 s12" id="catalog-setting">
            <ul class="collapsible">
                <li class="active">
                <div class="collapsible-header"><span style="font-weight: bold;">Kategori</span></div>
                <div class="collapsible-body">
                    <ul>
@foreach(var category in Model.Categories){
                        <li><a href="javascript:setParam('categoryID', @category.ID);">@category.Name</a></li>
}
                    </ul>
                </div>
                </li>
            </ul>
        </div>
        <div class="col l10 m12">
            <div class="row">
@foreach (var item in Model.Products) {
                <div class="col s12 m4 l4">
                    <div class="card large">
                        <div class="card-image">
                            <img src="~/product-photos/@item.ID" class="responsive-img">
                            <span class="card-title">@item.Name</span>
                        </div>
                        <div class="card-content">
                            <p>@item.Description</p>
                        </div>
                        <div class="card-action">
                            <a asp-controller="store" asp-action="product" asp-route-id="@item.ID">Detail Produk</a>
                        </div>
                    </div>
                </div>
}
            </div>
        </div>
    </div>
    
@section Scripts {
    @{await Html.RenderPartialAsync("_StoreProductScript");}
}