﻿@model lovina_store.Data.ViewModels.FrontPageViewModel
@{
    Layout = "_StoreLayout";
}
    <link type="text/css" rel="stylesheet" href="~/css/landing-page.css" />
    <div id="first-block">
        <div id="content" class="content-dark-bg">
            <div id="welcome-1">
                
            </div>
            <div id="welcome-2">
                <h1><span class="lovina">LOVINA</span> STORE</h1>
                <p>Beautiful skin requires commitment, not a miracle</p>
                <center><a class="waves-effect waves-light teal accent-4 btn" asp-controller="store" asp-action="catalog"><i class="material-icons right">loyalty</i>Katalog</a></center>
            </div>
        </div>
    </div>
    <div id="second-block">
        <div class="row">
            <div class="col s12 m12 l6 valign-wrapper" id="desc-1">
                <div style="width:100%;">
                    <h2>Skincare Solution</h2>
                    <p>Temukan produk - produk terbaik asdfasdasd asdasdasdaf asdasdasdf asdasdasdfasd asdsafasdasd fasdasdsaf asdasdasf asdsadasdasdf sadasdasdaf </p>
                </div>
            </div>
            <div class="col s12 m12 l6 valign-wrapper" id="desc-2">
                <div style="width:100%; position: relative; top: -80px;" class="golosor hide-on-med-and-down">
                    <center><img src="~/images/product.png" class="responsive-img"></center>
                </div>
                <div style="width:100%; padding: 50px;" class="hide-on-large-only">
                    <center><img src="~/images/product.png" class="responsive-img"></center>
                </div>
            </div>
        </div>
    </div>
    <div id="third-block">
        <div id="content" class="content-dark-bg">
            <div class="row">
                <div id="title" class="col s12 m6 l6 push-l3 push-m3">
                    <h2>Produk Unggulan</h2>
                </div>
            </div>
            <div class="row">
@foreach (var item in Model.PrimeProducts) {
                <div class="col s12 m4 l4">
                    <div class="card large">
                        <div class="card-image">
                            <img src="~/product-photos/@item.ID" class="responsive-img">
                            <span class="card-title">@item.Name</span>
                        </div>
                        <div class="card-content">
                            <p>@item.Description</p>
                        </div>
                        <div class="card-action">
                            <a asp-controller="store" asp-action="product">Detail Produk</a>
                        </div>
                    </div>
                </div>
}
                <center><a class="waves-effect waves-light teal accent-4 btn-large" asp-controller="store" asp-action="catalog" style="font-size: 24px; margin-top: 30px;"><i class="material-icons right">loyalty</i>Katalog</a></center>
            </div>
        </div>
    </div>
    <div id="fourth-block">
        <div id=content>
            <div class="row" id="maps">
                <div class="col s12 m12 l4 push-l8">
                    <h2>Kontak Kami</h2>
                    <div id="contact">
                        <table>
                            <tr>
                                <td><img src="~/images/sosmedicons/phone.png" height="50px"></td>
                                <td>@Model.Contact.Handphone</td>
                            </tr>
                            <tr>
                                <td><img src="~/images/sosmedicons/whatsapp.png" height="50px"></td>
                                <td>@Model.Contact.WA</td>
                            </tr>
                            <tr>
                                <td><img src="~/images/sosmedicons/facebook.png" height="50px"></td>
                                <td>@Model.Contact.Facebook</td>
                            </tr>
                            <tr>
                                <td><img src="~/images/sosmedicons/instagram.png" height="50px"></td>
                                <td>@Model.Contact.Instagram</td>
                            </tr>
                            <tr>
                                <td><img src="~/images/sosmedicons/line.png" height="50px"></td>
                                <td>@Model.Contact.Line</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col s12 m12 hide-on-large-only" style="height: 530px;" id="small-maps">
                </div>
            </div>
        </div>
    </div>
    
@section Scripts {
    @{await Html.RenderPartialAsync("_LandingPageScript");}
}