@model lovina_store.Data.ViewModels.StoreProductViewModel
@{
    Layout = "_StoreLayout";
}
    <link type="text/css" rel="stylesheet" href="~/css/product-detail-style.css" />
    <div class="content-voffset"></div>
    <div class="content-voffset hide-on-med-and-up"></div>
    <div id="content">
        <div class="row">
            <div id="column" class="col s12 m12 l4 product-image">
                <center><img src="~/product-photos/@Model.Product.ID" class="responsive-img"></center>
            </div>
            <div id="column" class="col s12 m12 l4 description">
                <h2>@Model.Product.Name</h2>
                <p>@Model.Product.Description</p>
            </div>
            <div id="column" class="col s12 m12 l4">
                <div class="price-contact">
@if(Model.Product.Discount>0){   
                    <a class="discount">Save @Model.Product.Discount %</a>
                    <h3 class="price-tag no-discount-price">Rp. @Model.Product.Price.ToString("#,##").Replace(',','.')</h3>
                    <h3 class="price-tag">Rp. @Model.Product.DiscountedPrice.ToString("#,##").Replace(',','.')</h3>
} else {
                    <h3 class="price-tag">Rp. @Model.Product.Price.ToString("#,##").Replace(',','.')</h3>
}
                    <b>Contact :</b>
                    <table>
                        <tr>
                            <td><img src="~/images/sosmedicons/phone.png" height="20px"></td>
                            <td>@Model.Contact.Handphone</td>
                        </tr>
                        <tr>
                            <td><img src="~/images/sosmedicons/whatsapp.png" height="20px"></td>
                            <td>@Model.Contact.WA</td>
                        </tr>
                        <tr>
                            <td><img src="~/images/sosmedicons/facebook.png" height="20px"></td>
                            <td>@Model.Contact.Facebook</td>
                        </tr>
                        <tr>
                            <td><img src="~/images/sosmedicons/instagram.png" height="20px"></td>
                            <td>@Model.Contact.Instagram</td>
                        </tr>
                        <tr>
                            <td><img src="~/images/sosmedicons/line.png" height="20px"></td>
                            <td>@Model.Contact.Line</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>