@model lovina_store.Data.ViewModels.CreateProductViewModel
@{
    Layout = "_AdminLayout";
}

<div class="col s12 m12 l12">
    <div class="card-panel">
        <h2 id="form-header">Buat Produk Baru</h2><br/>
        <div id="form">
            <form asp-controller="AdminProduct" asp-route-action="Create" method="Post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-field">
                    <input placeholder="Masukan nama produk . . ." id="product_name" type="text" asp-for="Product.Name">
                    <label for="product_name">Nama Produk</label>
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
                    <div class="row">
                        <div class="col s12 m12 l9">
                            <div class="input-field">
                                @Html.DropDownListFor(m => m.Product.CategoryID,
                                new SelectList(Model.Categories.Select(x => new { Value = x.ID, Text = x.Name }), "Value", "Text"), "Klik untuk pilih kategori",
                                htmlAttributes: new { @class = "form-control border-input" })
                                <label>Kategori Produk</label>
                                <span asp-validation-for="Product.CategoryID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col s12 m12 l3">
                            <div style="padding-top:20px;">
                                <a asp-route="AdminCategory" asp-route-action="Create" class="waves-effect waves-light btn pink lighten-3"><i class="material-icons left">add</i>Kategori</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <input placeholder="Masukan harga ( Hanya angka tanpa Rp dan '.' atau ',' )" id="product_price" type="text" class="validate" asp-for="Product.Price">
                    <label for="product_price">Harga</label>
                    <span asp-validation-for="Product.Price" class="text-danger"></span><br/>
                </div>
                <div class="row input-field">
                    <div class="col l2" style="padding-right: 0px;">
                        <label>Diskon dalam persen</label>
                        <input type="number" min="0" max="100" placeholder="Isi 0 jika tidak" asp-for="Product.Discount">
                        <span asp-validation-for="Product.Discount" class="text-danger"></span>
                    </div>
                    <div style="width: 20px; padding: 0px;" class="col">
                        <label style="color: #fff;">imhidden</label>
                        <input type="text" value="%" disabled id="percentage"/>
                    </div>
                </div>
                <label>Deskripsi Produk</label>
                <div class="input-field col s12" style="margin-top: 0px;">
                    <textarea style="height: 100px; padding: 10px;" class="materialize-textarea" data-length="1024" placeholder="Deskripsikan produk se-detail mungkin." asp-for="Product.Description"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <p>
                    <label>
                        <input type="checkbox" checked asp-for="Product.StockReady"/>
                        <span style="font-size: 12px">Stock Ready</span>
                    </label>
                    <label style="margin-left: 20px;">
                        <input type="checkbox" asp-for="Product.IsPrime"/>
                        <span style="font-size: 12px">Produk Unggulan</span>
                    </label>
                </p>
                <br/>
                <label>Pilih file gambar untuk produk:</label>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="productPhotos" accept="image/*">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="input-field">
                    <input type="submit" value="Submit" class="btn right pink lighten-3">
                </div>
                <div style="clear: both;"></div>
                <blockquote>
                    <span style="font-size:24px">(?) Format penulisan </span> <br/><br/>
                    Harga hanya <b>menggunakan angka</b> tanpa Rp dan titik ('.') atau koma (',') <br/><br/>
                    Diskon hanya <b>menggunakan angka</b> tanpa tanda persen ('%') atau simbol lainnya <br/><br/>
                    Centang <b>Produk unggulan</b> jika ingin menampilkan produk di halaman utama
                </blockquote>
            </form>
        </div>
    </div>
</div>