
@model IEnumerable<lovina_store.Data.Models.Product>
@{
    Layout = "_AdminLayout";
}

<div class="col s12 m12 l12">
    <div class="card-panel">
    <h1>Produk</h1>
    <a asp-route="AdminProduct" asp-route-action="Create" style="margin-top:15px;" class="btn pink lighten-3 align right" ><i class="material-icons right">add</i>Tambah Produk</a>
    <div style="clear:both"></div>
        <table class="responsive-table striped">
        <thead>
          <tr style="background-color:#999999";>
              <th>Nama Produk</th>
              <th>Harga</th>
              <th>Stock Ready</th>
              <th>Unggulan</th>
              <th>Diskon</th>
              <th>Kategori</th>
              <th>Deskripsi</th>
              <th style="color:#999" >
              <nav style="height: 35px; background-color: #444444;">
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                        <input id="search" type="search" name="keyword" placeholder="Cari product">
                        <label class="label-icon" for="search"><i class="material-icons" style="line-height: normal; padding-top: 7px;">search</i></label>
                        <i class="material-icons" style="line-height: normal; padding-top: 4px;">close</i>
                        </div>
                    </form>
                </div>
                </nav>
            </th>
          </tr>
        </thead>
        <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                Rp @item.Price.ToString("#,##").Replace(',','.')
            </td>
            <td>
                @if(item.StockReady){
                    <p>Ready</p>
                } else {
                    <p>Habis</p>
                }
            </td>
            <td>
                @if(item.IsPrime){
                    <p>Unggulan</p>
                } else {
                    <p>-</p>
                }
            </td>
            <td>
                @item.Discount
                %
            </td>
            <td>
                @item.Category.Name
            </td>
            <td>
                @item.Description.Substring(0,item.Description.Length<15?item.Description.Length:15)
                ...
            </td>
            <td>
                <a asp-controller="store" asp-action="product" asp-route-id="@item.ID" class="btn tooltipped pink lighten-3" data-position="top" data-tooltip="Preview" target="_blank"><i class="material-icons">remove_red_eye</i></a>
                <a asp-route="AdminProduct" asp-route-action="Edit" asp-route-id="@item.ID" class="btn tooltipped pink lighten-3" data-position="top" data-tooltip="Edit"><i class="material-icons">edit</i></a>
                <a asp-route="AdminProduct" asp-route-action="Delete" asp-route-id="@item.ID" class="btn tooltipped pink lighten-3" data-position="top" data-tooltip="Delete"><i class="material-icons">delete</i></a>
            </td>
        </tr>
}
        </tbody>
      </table>
    </div>
</div>