@model lovina_store.Data.Models.Contact
@{
    Layout = "_AdminLayout";
}

<div class="col s12 m12 l12">
    <div class="card-panel">
        <h2 id="form-header">Edit Kontak</h2><br/>
        <div id="form">
            <form asp-controller="AdminContact" asp-route-action="Index" method="Post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(m => Model.ID)
                <div class="input-field">
                    <input placeholder="Masukan no hp . . ." id="HP" type="text" asp-for="Handphone">
                    <label for="HP">No Handphone</label>
                    <span asp-validation-for="Handphone" class="text-danger"></span>
                </div>
                <div class="input-field">
                    <input placeholder="Masukan instagram . . ." id="Instagram" type="text" asp-for="Instagram">
                    <label for="Instagram">Instagram</label>
                    <span asp-validation-for="Instagram" class="text-danger"></span>
                </div>
                                <div class="input-field">
                    <input placeholder="Masukan link instagram . . ." id="InstagramLink" type="text" asp-for="InstagramLink">
                    <label for="InstagramLink">Instagram Link</label>
                    <span asp-validation-for="InstagramLink" class="text-danger"></span>
                </div>
                <div class="input-field">
                    <input placeholder="Masukan facebook" id="Facebook" type="text" asp-for="Facebook">
                    <label for="Facebook">Facebook</label>
                    <span asp-validation-for="Facebook" class="text-danger"></span>
                </div>
                                <div class="input-field">
                    <input placeholder="Masukan link facebook" id="FacebookLink" type="text" asp-for="FacebookLink">
                    <label for="FacebookLink">Facebook Link</label>
                    <span asp-validation-for="FacebookLink" class="text-danger"></span>
                </div>
                <div class="input-field">
                    <input placeholder="Masukan no Whatsapp . . ." id="WA" type="text" asp-for="WA">
                    <label for="WA">Whatsapp</label>
                    <span asp-validation-for="WA" class="text-danger"></span>
                </div>
                <div class="input-field">
                    <input placeholder="Masukan Line" id="Line" type="text" asp-for="Line">
                    <label for="Line">Line</label>
                    <span asp-validation-for="Line" class="text-danger"></span>
                </div>
                <div class="input-field">
                    <input type="submit" value="Submit" class="btn right pink lighten-3">
                </div>
                <div style="clear: both;"></div>
                <blockquote>
                    <span style="font-size:24px">(?) Link Facebook & Instagram </span> <br/><br/>
                    Facebook dan Instagram diisi nama profile atau page. Sedangkan untuk bagian Facebook Link di isi dengan link terkait.<br/>
                    Isikan link menuju facebook atau instagram. Jika ingin mengosongkan bagian link. Jangan beri inputan apapun pada form atau masukan tanda pagar '#'<br/><br/>
                    Contoh : <br/>
                    Facebook : Lovina Store <br/>
                    Facebook Link : www.facebook.com/lovinastore <br/>
                    Instagram : Lovina Store <br/>
                    Instagram Link : instagram.com/lovinastore <br/>
                </blockquote>
            </form>
        </div>
    </div>
</div>