/*Nimpah default wave color*/
/*
.waves-effect.waves-purple .waves-ripple {
    background-color: #ec78e3;
}
*/

body{
    /*#b5909e*/
    background-color: #606060;
}

#logo {
    width: 100%;
    margin-top: 15px;
    /*background-color: white;*/
}

#sidenavbar{
    background-color: #323232;
}

#sidenavbar a{
    color: #ffffff;
}

#sidenavbar h4{
    color: #ffffff;
    font-size: 24px;
}

#sidenavbar li a{
    font-size: 14px;
    margin-top: 3px;
    background-color: #464646;
    padding: 0px 0px 0px 10px;
}

.sidenav li>a{
    line-height: 35px;
    height: 35px;
}

#content-wrapper {
    padding: 10px;
}

#content-wrapper h1,h2,h3{
    padding: 0px;
    margin: 0px;
}

#content-wrapper .card{
    padding: 10px;
}

table {
    margin-top: 20px;
}

table th {
    border-radius: 0px;
    color: #fff;
}

label, .input-field>label{
    color: #323232;
    font-weight:  bold;
}

#form-header{
    color: #f48fb1;
}

#form input, textarea.materialize-textarea{
    background-color: #f3f3f3;
    margin-top: 5px;
}

#form .select-wrapper {
    padding: 1px 0px;
}

#form input{
    padding-left: 10px;
}

blockquote {
    padding: 10px 5px 20px 15px;
    background-color: #eaeaea;
}

.text-danger {
    color: #d21231;
}