body{
    background-color: #3b3b3b;
}

h1 {
    margin: 10px 10px 40px 10px;
    padding: 0;
    color: #f48fb1;
}

#vertical-offset{
    height: 25vh;
}

.input-field .prefix.active {
    color: #f48fb1;
}

input[type=text]:not(.browser-default):focus:not([read-only]),
input[type=password]:not(.browser-default):focus:not([read-only]) {
    border-bottom: 1px #f48fb1;
    box-shadow: 0px 1px 0px 0px #f48fb1;
}

input.valid[type=text]:not(.browser-default),
input.valid[type=password]:not(.browser-default) {
    border-bottom: 1px #f48fb1;
    box-shadow: 0px 1px 0px 0px #f48fb1;
}

@media only screen and (max-height: 600px) {
    #vertical-offset{
        height: 17vh;
    }
}