body {
    background-color: #fff;
}

.content-voffset{
    height: 80px;
    width: 100%;
    background-color: rgb(29, 29, 29);
}

#content-container{
    margin: 0px;
    padding: 0px;
}

.collapsible{
    box-shadow: 0 0 0 0 white;
    -webkit-box-shadow: 0 0 0 0 white;
}

#catalog-setting, .card{
    color: #494949;
    font-family: Adlanta;
}

.card-title {
    width: 100%;
    background-color: rgba(32, 32, 32, 0.7);
}

.card {
    box-shadow: 0 0 0 0 white;
    -webkit-box-shadow: 0 0 0 0 white;
    background-color: #f0f0f0;
}

.card .card-action 
a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: #f48fb1;
    font-weight: bold;
}

.card .card-action 
a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{
    color: #f5aec3;
}

#navbar-fixed{
    border-bottom: 1px solid #bebebe;
    box-shadow: 0px 1px 5px 1px rgba(67,67,67,0.2);
}