@font-face {
    font-family: Adlanta;
    src: url("../fonts/Adlanta.otf");
}

@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik-Regular.ttf");
}

@font-face {
    font-family: Aloja;
    src: url("../fonts/Aloja-Light.otf");
}