#first-block{
    height: 100%;
    background-image: url("../images/manyunyu.jpg");
    background-size: cover;
    background-position: center;
}

#welcome-1{
    height: 50%;
}

#welcome-2 h1, #welcome-2 p{
    font-family: Rubik;
    color: white;
    text-align: center;
}

#welcome-2 p{
    font-weight: bold;
    font-size: 24px;
}

#welcome-2 .hover-text{
    color: #f48fb1;
    -webkit-transition: 1s;
    transition: 1s;
}

#welcome-2 a{
    font-family: Rubik;
}

.lovina, #welcome-2 .hover-text:hover{
    background-color: #f48fb1;
    color: white;
    padding: 15px;
}

#second-block{
    background-color: #1a1a1a;
    max-height: 450px;
}

#second-block .row{
    margin: 0px;
}

#second-block h2{
    margin: 0px 0px 20px 0px;
    text-align: center;
}

#desc-1{
    color: white;
    height: 450px;
}

#desc-1 p, #desc-2 h2{
    text-align: center;
}

#desc-1 p{
    font-size: 18px;
    width: 350px;
    margin: 0px auto;
    color: white;
}

#third-block{
    background-image: url(../images/bg-product.jpg);
    background-size: cover;
}

#third-block .content-dark-bg {
    padding-bottom: 100px;
}

#third-block #title {
    background-color: white;
    margin: 100px 0px 50px 0px;
    padding: 10px;
}

#third-block #title h2{
    font-family: Aloja;
    text-align: center;
}

#third-block > #card-content{
    height: 0px;
}

#third-block .card-title{
    background-color: rgba(32, 32, 32, 0.7);
}

#fourth-block{
    background-color: black;
}

#fourth-block #content {
    padding: 90px 0px 0px 0px;
    background-color: #1a1a1a;
}

#fourth-block h2{
    margin: 50px 0px;
    font-family: Aloja;
    text-align: center;
}

#maps{
    margin: 0px;
    padding: 0px 50px 100px 0px;
    background-image: url("../images/maps.jpg");
    background-position: right;
    background-size: cover;
}

#small-maps{
    margin: 0px;
    padding: 0px 0px 50px 0px;
    background-image: url("../images/maps.jpg");
    background-position: center;
    background-size: cover;
}

#contact{
    font-family: Adlanta;
    color: white;
    padding: 20px 50px;
    background-color: rgba(32, 32, 32, 0.7);
}

/*
    *
    * Overiding materialize css
    *
*/

.card .card-action 
a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: #f48fb1;
    font-weight: bold;
}

.card .card-action 
a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{
    color: #f5aec3;
}

.card .card-image .card-title{
    font-weight: bold;
}


/* 
    * Utils
*/

.content-dark-bg{
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

@media only screen and (max-width: 600px) {
    #welcome-1 {
        height: 40%;
    }
    #welcome-2 {
        padding: 10px;
    }
    #welcome-2 h1{
        font-size: 36px;
    }
    #welcome-2 p{
        font-size: 18px;
    }
    #desc-1 p{
        width: 90%;
    }
    #welcome-2 .hover-text:hover{
        padding: 5px 10px;
    }
    #maps{
        background-image: none;
    }
    #contact{
        padding: 5px;
        padding-bottom: 50px
    }
}

@media only screen and (max-width: 992px) {
    #second-block{
        padding-top: 0px;
    }
    #second-block #desc-1 {
        padding: 80px 0px;
    }
    #second-block #desc-2 {
        padding: 80px 0px;
    }
    #desc-1{
        min-height: 300px;
    }
    #fourth-block h2{
        color: white;
    }
    #fourth-block #content {
        padding: 0px;
    }
    #maps{
        background-image: none;
        background-color: #f48fb1;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    #contact{
        background-color: #f48fb1;
    }
    #contact table{
        background-color: white;
        color: black;
    }
    #contact table td{
        padding: 20px;
    }
}