body {
    background-color: #fff;
}

.content-voffset{
    height: 80px;
    width: 100%;
    background-color: rgb(29, 29, 29);
}

#navbar-fixed{
    border-bottom: 1px solid #bebebe;
    box-shadow: 0px 1px 5px 1px rgba(67,67,67,0.2);
}

#column{
    padding: 30px;
    margin-top: 10px;
    font-family: Adlanta;
}

#column.product-image{
    padding-bottom: 0px;
}

#column.description{
    min-height: 768px;
}

#column p{
    color: #6f6f6f;
}

#column h2, #column h3{
    margin:0px;
    padding: 0px;
}

#column h3{
    margin-bottom: 50px;
    text-align: right;
    font-family: rubik;
    clear: both;
    color: #424242;
}

#column h3.no-discount-price{
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
    font-family: rubik;
    clear: both;
    text-decoration: line-through;
}

#column .price-contact{
    padding: 30px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

#column .discount{
    float: right;
    padding: 5px 25px;
    text-align: center;
    background-color: #25c55a;
    margin-bottom: 15px;
    font-family: rubik;
    border-radius: 15px;
    color: white;
}

#column table, #column b{
    color: #424242;
}

@media only screen and (max-width: 992px) {
    #column.description{
        min-height: 0px;
    }
}