body, html{
    height: 100%;
}

#navbar-fixed{
    transition: 0.4s;
    width: 100%;
    background-color: #fff;
    position: fixed;
    height: 80px;
    top: 0px;
    z-index: 100;
}

#navbar-fixed #logo{
    width: 133px;
    height: 80px;
    margin-left: 20px;
    float: left;
}

#navbar-fixed #links{
    float: right;
    height: 80px;
    color: white;
    margin-right: 20px;
    font-family: Rubik;
}

#navbar-fixed #search-logo {
    color: #f48fb1;
}

#navbar-fixed #links 
input[type=search]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

#footer-block{
    background-color: #1a1a1a;
    padding: 100px 0px;
}

#footer-block h2{
    color: white;
    font-family: Aloja;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#footer-block p{
    color: white;
    text-align: center;
}