@model lovina_store.Data.Models.Category
@{
    Layout = "_AdminLayout";
}

<div class="col s12 m12 l12">
    <div class="card-panel">
        <h2 id="form-header">Buat Kategori Baru</h2><br/>
        <div id="form">
            <form asp-controller="AdminCategory" asp-route-action="Create" method="Post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-field">
                    <input placeholder="Masukan nama kategori . . ." id="category_name" type="text" asp-for="Name">
                    <label for="category_name">Nama Kategori</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="input-field">
                    <input type="submit" value="Submit" class="btn right pink lighten-3">
                </div>
                <div style="clear: both;"></div>
            </form>
        </div>
    </div>
</div>