@model IEnumerable<lovina_store.Data.Models.Category>
@{
    Layout = "_AdminLayout";
}

<div class="col s12 m12 l12">
    <div class="card-panel">
    <h1>Category</h1>
    <a asp-route="AdminCategory" asp-route-action="Create" style="margin-top:15px;" class="btn pink lighten-3 align right" ><i class="material-icons right">add</i>Tambah Kategori</a>
    <div style="clear:both"></div>
        <table class="responsive-table striped">
        <thead>
          <tr style="background-color:#999999";>
              <th>Nama Kategori</th>
              <th style="color:#999" >-</th>
          </tr>
        </thead>
        <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <a asp-route="AdminCategory" asp-route-action="Edit" asp-route-id="@item.ID" class="btn tooltipped pink lighten-3" data-position="top" data-tooltip="Edit"><i class="material-icons">edit</i></a>
                <a asp-route="AdminCategory" asp-route-action="Delete" asp-route-id="@item.ID" class="btn tooltipped pink lighten-3" data-position="top" data-tooltip="Delete"><i class="material-icons">delete</i></a>
            </td>
        </tr>
}
        </tbody>
      </table>
    </div>
</div>